html{
	height: 100%;
}

body{
	font-family: sans-serif;
	cursor: -webkit-grab;
	cursor: grab;
	margin: 0;
	display: block;
	max-height: 100%;
	width: 100%;
	height: 100%;
	background: #2B2743;
}

.circle{
	background: #33FF33;
	width: 12px;
	height: 12px;
	border-radius: 16px;
	display: inline;
}

.eyes{
	transition: .2s;
}

.suggestions{
	padding: 0px 20px 0px 20px;
	margin-left: 50%;
	transform: translateX(-50%);
}

.topsection{
	margin-top: 36px;
	background: #FFFFFF;
	border-radius: 8px 8px 0 0;
	padding: 12px 40px 12px 40px;
	max-width: 500px;
	margin-left: 50%;
	transform: translateX(-50%);
}

.instructions-primary{
		opacity: 90%;
		font-size: 20px;
}

.instructions-secondary{
		opacity: 50%;
		margin-top: -12px;
		margin-bottom: 0px;
		font-size: 14px;
		font-weight: 400;
}

button{
	font-size: 20px;
	border-radius: 36px;
	background: #999;
	color: #fff;
	padding: 12px 28px 14px 28px;
	border: none;
	margin: 4px;
	transition: .1s;
}

button:hover{
	transform: translateY(-2px);
}

button:focus{
	outline:0;
	margin: -2px 4px 0px 4px;
}

button:active{
	transform: translateY(1px);
	margin: -2px 4px 0px 4px;
}

.instructions{
	font-size: 24px;
	font-family: "Hoefler Text", sans-serif;
	color: #fff;
	text-align: center;
}

.instructions-mobile{
	display: none;
}

.fontbot{
	position: absolute;
	width: 360px;
	margin-bottom: -20px;
	margin-left: 0;
	cursor: -webkit-grabbing;
	cursor: grabbing;
	bottom: 0;
	-webkit-transition: .25s;
	-o-transition: .25s;
	transition: .25s;
	opacity: .95;
}

.fontbot:hover{
	margin-bottom: 0px;
	opacity: 1;
}

#face-smile{
d: path("M150,150.3 C157.440006,150.3        167.240006,150.3 179.4,150.3     C191.559994,150.3 201.959994,150.3 210.6,150.3");
}

.smile{
	-webkit-animation-name: smile;
	        animation-name: smile;
	-webkit-animation-duration: 3s;
	        animation-duration: 3s;
	-webkit-animation-timing-function: ease-in;
	        animation-timing-function: ease-in;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
}

@-webkit-keyframes smile {

	0% {
		d: path("M150,150.3 C157.440006,150.3        167.240006,150.3 179.4,150.3     C191.559994,150.3 201.959994,150.3 210.6,150.3");
	}

	5% {
     d: path("M164,150.3 C162.506673,161.433333 171.820267,167 180,167 C188.179733,167 197.693327,161.433333 196.6,150.3");
  }

	95% {
		 d: path("M164,150.3 C162.506673,161.433333 171.820267,167 180,167 C188.179733,167 197.693327,161.433333 196.6,150.3");
	}

	100% {
		d: path("M150,150.3 C157.440006,150.3        167.240006,150.3 179.4,150.3     C191.559994,150.3 201.959994,150.3 210.6,150.3");
	}

}

@keyframes smile {

	0% {
		d: path("M150,150.3 C157.440006,150.3        167.240006,150.3 179.4,150.3     C191.559994,150.3 201.959994,150.3 210.6,150.3");
	}

	5% {
     d: path("M164,150.3 C162.506673,161.433333 171.820267,167 180,167 C188.179733,167 197.693327,161.433333 196.6,150.3");
  }

	95% {
		 d: path("M164,150.3 C162.506673,161.433333 171.820267,167 180,167 C188.179733,167 197.693327,161.433333 196.6,150.3");
	}

	100% {
		d: path("M150,150.3 C157.440006,150.3        167.240006,150.3 179.4,150.3     C191.559994,150.3 201.959994,150.3 210.6,150.3");
	}

}

.fontcard{
	background: #FFFFFF;
	border-radius: 0 0 8px 8px;
	padding: 36px 40px 36px 40px;
	max-width: 500px;
	margin-bottom: 20px;
	max-height: 400px;
	overflow-y:scroll;
	transition: .2s;
	margin-left: 50%;
	transform: translateX(-50%);
}

.message-sent{
	float: right;
	text-align: right;
	width: auto;
	background: #ff4343;
	padding: 16px 20px 16px 20px;
	border-radius: 12px 12px 4px 12px;
	color: #fff;
	font-size: 14px;
	margin-bottom: 8px;
	transition: .2s;
}

.message-received.clear {
  clear: both;
}

.message-received{
	text-align: left;
	background: #eee;
	padding: 16px 20px 16px 20px;
	border-radius: 12px 12px 12px 4px;
	color: #333;
	font-size: 16px;
	margin-bottom: 8px;
	transition: 1s;
}

.fontname{
	display: inline;
}

.fontsample{
	line-height: 1.4;
	font-size: 18px;
	display: inline-block;
}

@media (max-width:700px){

	.body{
			background: #FFF !important;
	}

	.topsection{
		z-index: 2;
		margin-top: 0;
		background: #fefefe;
		opacity: .95;
		border-radius: 0;
		padding: 4px 40px 4px 40px;
		max-width: 100%;
		max-height: 20vh;
		margin: 0;
		font-size: 12px;
	}

	.instructions-primary{
			opacity: 90%;
			font-size: 20px;
			text-align: left;
	}

	.instructions-secondary{
		text-align: left;
		font-size: 16px;
		color: #38DF8F;
	}

	.fontcard{
		position: relative;
		z-index: 1;
		background: #FFFFFF;
		border-radius: 0;
		padding: 12px 40px 12px 40px;
		max-width: auto;
		max-height: auto;
		overflow-y:scroll;
		transition: .2s;
		margin-bottom: 0;
	}

	.instructions{
		display: none;
	}

	.instructions-mobile{
		font-size: 24px;
		font-family: "Hoefler Text", sans-serif;
		color: #fff;
		padding-top: 5%;
		text-align: center;
	}

	.message-sent{
		margin-right: -12px;
		margin-top: -8px;
		position: relative;
		float: right;
	}

	.message-received{
		margin-bottom: 24px;
	}

	.fontbot{
		display: none;
		margin-left: 50%;
		-webkit-transform: translate(-50%,0);
				-ms-transform: translate(-50%,0);
						transform: translate(-50%,0);
	}

	.suggestions{
		height: 100px;
		position: fixed;
		padding: 8px;
		bottom: 0;
		background: #fefefe;
		width: auto;
		margin-top: 0;
		display: inline-block;
		opacity: .95;
	}

	button{
		border-radius: 8px 8px 2px 8px;
		font-size: 16px;
		margin: 4px;
		float: right;
		background: #999;
		color: #fff;
	}

	button:hover{
		background: #555;
		transform: none;
		margin: 4px;
	}

	button:focus{
		background: #777;
		outline:0;
		margin: 4px;
	}

	button:active{
		background: #777;
		transform: none;
		margin: 4px;
	}
}
